@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
    
}

/*--Background image--*/

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(100, 189, 216, 0.644), rgba(49, 33, 8, 0.884)), url(./banner2.jpg);
    background-size: cover;
    background-position: center;
    padding-left: 0rem;

}

/*--Nav bar--*/
.nav{
    color: black;
    width: 100%;
    height: 3.5rem;
    background-color: rgba(255, 255, 255, 0.527);
    display: flex;
    align-items:center;
    padding-left: 0rem;
    margin-left: 0%;

}

.nav .left-sec{
    width: 50%;

}

.left-sec h2{
    padding-left: 20px;
    

}

.nav .right-sec{
    width: 50%;

}

.right-sec ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding-right: 20px;
    margin-right: 0;
}

.right-sec ul li{
    padding: 10px;
    cursor: pointer;
    color: black;
    font-size: larger;
    font-weight: bolder;
}

.right-sec ul li:hover{
    color: rgb(85, 138, 138);
    transform: translate(7px);
    transition: transform .4s;
    
}

/*--Home--*/

.content{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    margin-top: 15rem;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    letter-spacing: 1px;
    margin-left: 10%;

}

.content h2{
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 5px black;
}

.btn{
    margin-top: 3rem;
    width: 8rem;
    height: 2.5rem;
    background-color: #fff;
    font-size: medium;
    font-weight: bolder;
    text-decoration: none;
    color: #fff;
    border: 1px solid rgb(40,70,238);
    box-shadow: 0 0 5px black;
    cursor: pointer;
    border-radius: 5px;
}


/*--About me--*/
.About-me{
    text-align:center;
    padding-top: 10rem;
    padding-bottom: 10rem;
    line-height: 0;
    display: flex;
    justify-content:center;
    font-size: 1.5rem;
    background-color: white;
    
    
}

.About-me img{
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    margin-left: 1rem;
    border: #5ACFC9;
}

.paragraph{
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 20px;
    padding-bottom: 0;
    text-align:center;
    line-height: 2;
}

@media screen and (max-width:770px){
    .paragraph{
        margin-left: 5rem;
        margin-right: 20rem;
        padding-top: 20px;
        padding-bottom: 0;
        text-align: justify;
        line-height: 2;
        display: block;
        font-size: smaller;
    }
}


/*--Projects--*/

#project{
    width: 100%;
    padding-top: 70px 0;
    
}

.project{
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgb(245, 237, 227);
}

.title-text{
    text-align: center;
    padding-bottom: 70px;
}

.title-text h1{
    font-size: 50px;

}

.feature-box{
    width: 80%;
    margin: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.features{
    flex-basis: 50%;

}

.features-img{
    flex-basis: 50%;
    margin: auto;
    
}

.features-img{
    width: 70%;
    border-radius: 10px;
}

.features h1{
    text-align: left;
    margin-bottom: 10px;
    font-weight: 900;
    color: #009;
    font-size: xx-large;
}

.features-description{
    display: flex;
    align-items:baseline;
    margin-bottom: 40px;
}

.feature-text p{
    padding: 0 1px;
    text-align: initial;
    font-size: x-large;
}




/*--Footer-section--*/

.footer{
    padding-bottom: 10%;
    background-color: white;
    padding-top: 1%;
}

.subscribe-title{
    align-items:flex-start;
    margin-left: 10%;
    font-size: medium;
    padding-top: 0rem;
    margin-top: 3rem;
}

.form-group{
    width:80%;
    margin:auto;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    font-weight: bolder;
}



#name,
#email {
    margin-top: 0.8rem;
    border: 1px solid black;
    padding: 0.7rem;
    font-weight: 500;
    font-size: 1rem;
    border-radius: 0.3rem;
}

#comment{
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding: 0.7rem;
    height: 5rem;
    font-size: 1.2rem;
    outline: black;
    border:1px solid black;
    border-radius: 0.3rem;
}

#submit{
    padding: 0.7rem;
    font-size: 1.5rem;
    color: white;
    background-color: #5ACFC9;
    border-radius: 0.3rem;
    outline: none;
    border: none;
    cursor: pointer;
}

.contact{
    margin-left: 45%;
    font-size: small;
    font-weight: bolder;
    padding: 0.7rem;
    padding-top: 10%;
}

.icons{
    font-size: 2rem;
    color: blue;
    
}



